body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #f0f0f0;
    color: #ffffff;
    padding: 1.5rem;
    text-align: center;
    background-image: url('Deltatable1.png');
    background-size: cover; /* This will ensure the image covers the entire header */
    background-position: center; /* This will center the image */
}


h1, h2 {
    color: #333333;
}

article {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article section {
    margin-bottom: 2rem;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

ul li {
    margin-bottom: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
